td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

h1,
h2,
i {
  color: white;
}

.charts {
  .col-sm {
    .container {
      height: 300px;
    }
  }
}
p {
  font-family: Lato;
}

.charts{
  width: 1000;
 height : 500;
}